{% include 'navbar.html' %}


<h1 class="display-1 text-muted">Listado de perros</h1>
<div class="table-responsive">
<table class="table table-bordered table"></table>
<thead class="thead-dark">
        <tr>
        <th>Nombre</th>
        <th>Raza</th>
        <th>Edad</th>
        <th>Estado</th>
        <th>Descripcion</th>
        <th>Foto</th>
    </tr>
    </thead>
    {% for results in results %}
    <li>   {{results.Nombre}}</li>
    <li>   {{results.Raza}}</li>

    <img src="{{results.Foto}}" alt="Trulli" width="500" height="333">
    {% endfor %}
   
 
    

<!-- <tr>
    <br><td>{{Nombre}}</td></br>
    <td>{{Raza}}</td>
    <td>{{Edad}}</td>
    <td>{{Estado}}</td>
    <td>{{Descripcion}}</td>
    
          
    <img src="{{Foto}}">
    
</tr> -->

</table>
</div>
