{% load static %}

<link rel="stylesheet" href= "{% static 'css/marco.css' %}">
{% include 'base.html' %}


<body background="{% static 'images/perrosfondo.jpg' %}" >
<div class="container registro">
{% block content %}
<h2>Registro</h2>
  {% load widget_tweaks %}
  {% for results in results %}
 
  
  
  
  <li> <th>Nombre:</th>  {{results.Nombre}}</li>
  <li> <th>Raza: </th>  {{results.Raza}}</li>
  <li> <th>Edad: </th>  {{results.Edad}} Años</li>
  <li> <th>Estado: </th>  {{results.Estado}}</li>
  <li> <th>Descripcion: </th>  {{results.Descripcion}}</li>

  <th>Foto:<img src="{{results.Foto}}" alt="Trulli" width="200" height="166"></th>

  {% endfor %}
</div>
{% endblock %}
</body>