{% load rest_framework %}

<html><body>    
<h1>New Person</h1>

<form action="" method="POST">
    {% csrf_token %}
    {{serializer.Nombre}}
    <input type="submit" value="Save">
</form>

</body></html>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">WebSiteName</a>
      </div>
     
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Inicio</a></li>
        <li><a href="#">Quienes Somos</a></li>
        <li><a href="#">Servicios</a></li>
        <li><a href="{% url 'Contacto' %}">Contactos</a></li>
        {% if user.is_authenticated %}
        <li><a href="#">Adoptar</a></li>
        {% endif %}
        {% if user.is_superuser %}
        <li><a href="{% url 'Mascota' %}">Resgistar Mascota</a></li>
        <li><a href="{% url 'ListarPerros' %}">Ver Perros</a></li>
        {% endif %}
        
      </ul>
      <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated  %}
          <a href="{% url 'logout' %}"></a>
          <li><a href=""><span class="glyphicon glyphicon-user"></span> {{ user.username }}</a></li>
          <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span> Salir</a></li>
          {% else %}
         
  
  
        <li><a href="{% url 'signup' %}"><span class="glyphicon glyphicon-user"></span> Registrarse</a></li>
  
  
        <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Entrar</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>


  {% extends 'base.html' %}
{% load static %}
<body background="{% static 'images/perrosfondo.jpg' %}" >
{% block content %}
<h1 class="display-1 text-muted">Listado de perros</h1>
<div class="table-responsive">
<table class="table table-bordered table"></table>
<thead class="thead-dark">
   
   
    <div class="content container">
            <div class="row">
                <div class="col-md-8">
                        {% for results in results %}
                        <div class="post">
                            <div class="date">
                                <p>EStado Actual: {{ results.Estado }}</p>
                            </div>
                            <h1><a href=""> Nombre: {{results.Nombre}}</a></h1>
                            <p> Raza: {{ results.Raza|linebreaksbr }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    



</table>
</div>
</body>
{% endblock %}
{% load static %}

<link rel="stylesheet" href= "{% static 'css/marco.css' %}">
{% include 'base.html' %}


<body background="{% static 'images/perrosfondo.jpg' %}" >
<div class="container registro">
{% block content %}
<h2>Registro</h2>
  {% load widget_tweaks %}
  {% for results in results %}
 
  
  
  
  <li> <th>Nombre:</th>  {{results.Nombre}}</li>
  <li> <th>Raza: </th>  {{results.Raza}}</li>
  <li> <th>Raza: </th>  {{results.Edad}} años</li>
  <li> <th>Raza: </th>  {{results.Estado}}</li>
  <li> <th>Raza: </th>  {{results.Descripcion}}</li>

  <th>Foto:<img src="{{results.Foto}}" alt="Trulli" width="500" height="333"></th>

  {% endfor %}
</div>
{% endblock %}
</body>

{% extends 'base.html' %}

{% block content %}
<h1 class="display-1 text-muted">Listado de perros</h1>
<div class="table-responsive">
<table class="table table-bordered table"></table>
<thead class="thead-dark">
        <tr>
        <th>Nombre</th>
        <th>Raza</th>
        <th>Edad</th>
        <th>Estado</th>
        <th>Descripcion</th>
        <th>Foto</th>
    </tr>
    </thead>
    {% for results in results %}
    <li> <th>Nombre:</th>  {{results.Nombre}}</li>
    <li> <th>Raza: </th>  {{results.Raza}}</li>

    <th>Foto:<img src="{{results.Foto}}" alt="Trulli" width="500" height="333"></th>
    
    {% endfor %}
   
 
    



</table>
</div>
{% endblock %}